:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --atribute: hsl(228, 45%, 44%);
    --accent: rgb(170, 92, 219);
    --white1: hsl(0, 0%, 100%);
    --white2: hsla(0, 0%, 100%, 0.75);
    --white3: hsla(0, 0%, 100%, 0.6);

    --inter: 'Inter';
    --lexend-deca: 'Lexend Deca';
}

body {
    background-color: var(--main-background);
    margin: 6rem 1.25rem 6rem 1.25rem;
}

.cabecalho__foto--mobile {
    filter: opacity(0.3) drop-shadow(rgb(176, 48, 179) 0px 0px 0px); 
    border-radius: 8px 8px 0 0;
    width: 100%;
    margin-bottom: -.15rem;
}

main {
    padding: 2.5rem 2rem 0 2rem;
    border-radius: 0 0 8px 8px;
    text-align: center;
    background-color: var(--card-background);
}

h1 {
    padding-bottom: 1rem;
    font-family: var(--inter);
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--white1);
}

.insights {
    color: var(--accent);
}

.texto {
    line-height: 25px;
    padding-bottom: 3rem;
    font-family: var(--inter);
    font-size: 15px;
    font-weight: 400;
    color: var(--white2);
}

h2 {
    padding-bottom: .5rem;
    font-family: var(--inter);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white1);
}

.status__text {
    padding-bottom: 2rem;
    font-family: var(--lexend-deca);
    font-size: 14px;
    font-weight: 400;
    color: var(--white3);
    text-transform: uppercase;
}

.attribution {
    padding-bottom: .5rem;
    font-size: 11px; text-align: center;
    color: var(--atribute);
}

.cabecalho__foto--desktop {
    display: none;
}

@media screen and (min-width: 1024px) {

    body {
        margin: 10rem;
    }

    header {
        display: none;
    }

    main {
        padding: 0;
        display: flex;
        border-radius: 8px 0 0 8px;
        text-align: start;
    }

    .card {
        margin: 4.25rem 8rem 4rem 4rem;
    }

    h1 {
        line-height: 3rem;
        padding-bottom: 1.5rem;
        font-size: 2.25rem;
    }

    .texto {
        padding-bottom: 4.5rem;
    }

    .status {
        display: flex;
        justify-content: space-between;
    }

    .status__text {
        padding: 0;
    }

    .cabecalho__foto--desktop {
        display: block;
        filter: opacity(0.3) drop-shadow(rgb(176, 48, 179) 0px 0px 0px); 
        border-radius: 0 8px 8px 0;
    }
}
